App Reembolso/pkgs/Wadl/AIBuilder_1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AIBuilder" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="AIBuilder" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <base64Binary name="ManualTriggerInput_Processaresalvarinforma_uxE7_uxF5_esdedocumentosdeidentidade_Arquivodedocumentodeidentidade_def" />
      <integer name="ManualTriggerInput_Atualizaritem_ID_def" />
      <string name="ManualTriggerInput_Atualizaritem_Title_def" />
      <string name="ManualTriggerInput_Atualizaritem_Valordoreembolso_def" />
      <object name="ManualTriggerInput">
        <property name="Processaresalvarinformaçõesdedocumentosdeidentidade_Arquivodedocumentodeidentidade" typeRef="ManualTriggerInput_Processaresalvarinforma_uxE7_uxF5_esdedocumentosdeidentidade_Arquivodedocumentodeidentidade_def" />
        <property name="Atualizaritem_ID" type="integer" />
        <property name="Atualizaritem_Title" type="string" />
        <property name="Atualizaritem_Valordoreembolso" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Processaresalvarinformaçõesdedocumentosdeidentidade_Arquivodedocumentodeidentidade" path="/Processaresalvarinformaçõesdedocumentosdeidentidade_Arquivodedocumentodeidentidade" type="service:ManualTriggerInput_Processaresalvarinforma_uxE7_uxF5_esdedocumentosdeidentidade_Arquivodedocumentodeidentidade_def" required="true" />
            <param style="plain" name="Atualizaritem_ID" path="/Atualizaritem_ID" type="xs:long" required="true" />
            <param style="plain" name="Atualizaritem_Title" path="/Atualizaritem_Title" type="xs:string" required="true" />
            <param style="plain" name="Atualizaritem_Valordoreembolso" path="/Atualizaritem_Valordoreembolso" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>